.wrapper {
  display: block;
  margin: 100px 20%;

  .inputs-container {
    display: flex;
    flex-direction: column;
  }
}

.movie-img {
  vertical-align: middle;
  margin-right: 8px;
}

.movie-title {
  margin-left: 5px;
}
